*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body{
  background-color: aqua;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.cards{
  background: white;
  width: 400px;
  margin: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
}
.cars-image{
  width: 400px;
  height:300px;
  background-size: cover;
  border-radius: 15px;
  

}
.car1{
  background-image: url('https://shorturl.at/etARU');

}
.car2{
  background-image: url('https://shorturl.at/noqMT');
}
.car3{
  background-image: url('https://shorturl.at/eBGHS');
}
.font{
  color: rgb(0, 0, 0);
  font-style:italic;
  
}
.cards a {
background-color: black;
color: aliceblue;
padding: 5px 10px;
display: block;
text-align: justify
margin: 5px 10px;
}